<% include partials/header %>

<h1>Welcome to my Calculator </h1>
Please select the type of Calculator you would like to use
<br>
<form method="post" action="/">
<button id='basic' value ='basic'> <a href=#></a> Basic Calculator</button> <button id='interest' value = 'interest'><a href=#> </a> Interest Calculator</button>
</form>
<% include partials/footer %>