<% include partials/header %>

<form action="/calculator/interest" method="POST">
<table >

<tr>
    <td>Principle</td>
    <td>Rate</td>
    <td>Time</td>
    <td>Number of times interes is compound in a year (required for <strong>compound</strong>) </td>
</tr>
<tr>
    <td><input name = "arg1" placeholder = "arg1"></td>
    <td><input name= "arg2" placeholder = "arg2" ></td>
    <td><input name= "arg3" placeholder = "arg3"></td>
    <td><input name= "arg4"  placeholder = "arg4"> </td>
</tr>
</table>
<input type="submit" name="operation" value="compound">

<input type ="submit" name="operation" value="simple">
</form>


<% if (result) { %>

<p>result: <%= result %> </p>

<% } %>
<% include partials/footer %> 